fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.20   # rasm yuklash (UploadFile/File) uchun majburiy
sqlalchemy==2.0.35
psycopg[binary]==3.2.3
alembic==1.14.0
pydantic==2.9.2
requests==2.32.3
python-telegram-bot==21.6
python-dotenv==1.0.1
bcrypt==3.2.2
PyJWT==2.9.0
